:root{
  --blue: blue;
  --dark: #6f7072;
  --pink: #dd1ccd;
  --red: #d1001f;
  --Times: "Times New Roman", Times, serif ;
}
.selectBox{
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  background-image: linear-gradient(to bottom right, var(--second-color), var(--main-color));
  border: none;
  border-radius: 4px;
  font-family: var(--text-font);
  color: var(--grey);
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
.emlNR{
  float: left;
}
.bluefont{
  color:var(--blue) !important;
}
.redfont{
    color: var(--red) !important;
}
.darkfont{
  color: var(--dark) !important;
}
.pinkfont{
    color: var(--pink) !important;
}

.TimesFont{
font-family: var(--Times) !important;
}
.ArialFont{
font-family: Arial, Helvetica, sans-serif !important;
}
.ComicFont{
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}
.ImpactFont{
  font-family: Impact, Charcoal, sans-serif !important;
}
.CourierFont{
  font-family: "Courier New", Courier, monospace !important;
}
@media only screen and (max-width: 768px) {
.Small{
  font-size: 3.8vw !important;
}
   .divSlideMenu .Small{
  font-size: 0.76vw !important;
}
.XS{
  font-size: 1.9vw !important;
}
.divSlideMenu .XS{
  font-size: 0.38vw !important;
}
.Large{
  font-size: 14vw !important;
}
.divSlideMenu .Large{
  font-size: 3.04vw !important;
}
.XL{
  font-size: 30vw !important;
}
.divSlideMenu .XL{
  font-size: 6vw !important;
}
}
@media screen and (min-width: 768px) {
  .Small{
    font-size: 2vw !important;}
.divSlideMenu .Small{
  font-size: 0.432vw !important;
}
.XS{
  font-size: 1vw !important;
}
.divSlideMenu .XS{
  font-size: 0.217vw !important;
}
.Large{
  font-size: 8vw !important;
}
.divSlideMenu .Large{
  font-size: 1.722vw !important;
}
.XL{
  font-size: 15vw !important;
}
.divSlideMenu .XL{
  font-size: 3vw !important;
}
}
@media all and (display-mode: fullscreen) {
  .Small{
    font-size: 4vw !important;
}
.XS{
  font-size: 2vw !important;
}
.Large{
  font-size: 14vw !important;
}
.XL{
  font-size: 28vw !important;
}
}

.updatediv{
  display: none;
}
