/* set every css property to default:----------------------------------------*/

html, body, div, span, applet, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers ------------------------------*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Our actual css -----------------------------------------------------------*/

/* Variables for css -----------------------------------------------------*/

/* THEME VARIABLES specified in style.css:
  --main-color
  --second-color
  --third-color
  --grey

  --title-font
  --text-font
*/


/* CSS specifically for mobile screens -----------------------------------*/
@media only screen and (max-width: 768px) {
  /* For edit tools ---------------------------------------------------*/
  .editToolsSlide {
    margin-left: 2.5%;
    margin-top: 20px;
    width: 95%;
    height: 50%;
  }

  .tabContainer {
    top: 0;
    width: 100%;
    height: 30%;
    display: inline-block;
  }

  .tab button {
    width: 15%;
    height: 40px;
    padding-top: 1%;
    padding-bottom: 1.5;
    margin-right: 2%;
    border-radius: 8px 8px 0px 0px;
    font-size: 3vw;
    float: left;
  }

  .tab.last button {
    margin-right: 0px;
  }

  .tabContent {
    width: 100%;
    height: 10%;
    margin-top: 0px;
    border-radius: 0px 0px 5px 5px;
  }

  /* For displaying slide ---------------------------------------------*/
  .displayDivContainer {
    width: 95%;
    margin-top: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 20px;
    float: right;
  }

  .textElementSlide {
    font-size: 7.6vw;
  }

  .vidDiv {
    font-size: 2.5vw;
  }

  /* For displaying scrolling slide menu ------------------------------*/
  #slideMenu {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  /* For displaying note ----------------------------------------------*/
  .noteDivContainer {
    width: 95%;
    height: 5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 20px;
    float: right;
  }

  .noteDivContainer textarea {
    max-width: 100%;
    padding: 5px;
    width: 100%;
    height: 100%;
  }
}

/* CSS specifically for desktops -----------------------------------------*/
@media screen and (min-width: 768px) {
  /* For edit tools ---------------------------------------------------*/
  .editToolsSlide {
    float: left;
    margin-left: 10px;
    margin-top: 40px;
    width: 30%;
    height: 100%;
  }

  .tabContainer {
    width: 20%;
    height: 100%;
    float: left;
    left: 0;
  }

  .tab button {
    width: 100%;
    height: 10%;
    padding-top: 25%;
    padding-bottom: 25%;
    margin-bottom: 1px;
    border-radius: 8px 0px 0px 8px;
    font-size: 20px;
  }

  .tabContent {
    width: 80%;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    float: right;
  }

  /* For displaying slide ---------------------------------------------*/
  .displayDivContainer {
    width: 50%;
    margin-top: 20px;
    margin-left: 40%;
    margin-bottom: 20px;
  }

  .textElementSlide {
    font-size: 4vw;
  }

  /* For displaying scrolling slide menu ------------------------------*/
  #slideMenu{
      width: 50%;
      margin-left: 40%;
      margin-right: 10%;
      float: right;
  }

  /* For displaying note ----------------------------------------------*/
  .noteDivContainer {
    width: 50%;
    height: 5%;
    margin-left: 40%;
    margin-right: 10%;
    margin-bottom: 20px;
    float: right;
  }

  .noteDivContainer textarea {
    max-width: 100%;
    margin-bottom: 5%;
    padding: 5px;
    width: 100%;
    height: 100%;
  }

  .vidDiv {
    font-size: 1.5vw;
  }
}

/* CSS for both desktop and mobile screens -------------------------------*/
/* General css --------------------------------------------------------*/

body {
  width: 100%;
  height: 100%;
}

textarea {
  resize: none;
  box-sizing: border-box;
}

/* For displaying slide -----------------------------------------------*/
.displayDiv {
  padding-top: 56.25%;
  width: 100%;
  background-color: #FEFEFE;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  position: relative;
}

.image {
  width : 30%;
  position: absolute;
}

.vidElement {
  position: relative;
  width: 100%;
  height: 80%;
  border: none;
}

.vidDiv {
  position: absolute;
  width: 40%;
  height: 60%;
  display: inline-block;
  background-color: var(--grey);
}

.vidDiv icon {
  float: right;
  margin: 2%;
  padding: 2%;
  color: var(--second-color);
}

.soundElement {
  position: absolute;
  width: 50%;
}

.creationDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.textElementSlide {
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: var(--third-color);
  user-select: none;
}

/* For displaying scrolling menu for slides -----------------*/
#slideMenu{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.divSlideMenu{
  padding-top: 11.250%;
  width: 20%;
  display: inline-block;
  border: 1px solid red;
  margin: 2px;
  position: relative;
}

.divSlideMenu .textElementSlide {
    font-size: 1.52vw;
  }
#slideMenu::-webkit-scrollbar {
    width: 1em;
}

#slideMenu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#slideMenu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* For tools editing slide --------------------------------------------*/
.tab button {
  background-color: var(--grey);
  border: none;
  font-family: var(--text-font);
  color: #FFF;
}

.tab button.active {
  background-color: var(--main-color);
  color: var(--grey);
}

.tab button:hover {
  cursor: pointer;
}

.tabContent {
  background-color: var(--main-color);
}

/* For presentation mode -------------------------------------*/
@media all and (display-mode: fullscreen) {
  .textElementSlide {
    font-size: 8vw;
  }

  .displayDivContainer{
    width: 100% ;
  }
}
