/* set every css property to default:----------------------------------------*/

html, body, div, span, applet, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers ------------------------------*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Our actual css -----------------------------------------------------------*/

/* Variables for css -----------------------------------------------------*/
:root {
/* COLOR THEME: pastel
--main-color: #ABE188;
--second-color: #F7EF99;
--third-color: #F1BB87;
--fourth-color: #F78E69;
--grey: #5D675B;
*/

/* COLOR THEME: colorful green
  --main-color: #9FD356;
  --second-color: #3C91E6;
  --third-color: #FA824C;
  --grey: #342E37;
*/

/* COLOR THEME: red teints
  --main-color: #F2545B;
  --second-color: #A93F55;
  --third-color: #8C5E58;
  --grey: #19323C;
*/

/* COLOR THEME: colorful */
  --main-color: #FE4A49;
  --second-color: #009FB7;
  --third-color: #FED766;
  --grey: #333;

  --title-font: 'Pacifico', cursive;
  --text-font: 'Roboto', sans-serif;
}

/* CSS specifically for mobile screens -----------------------------------*/
@media only screen and (max-width: 768px) {
  /* For navbar -------------------------------------------------------*/
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar i {
    float: right;
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    color: var(--third-color);
  }

  .navbar.expanded i {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.expanded a {
    float: none;
    display: block;
    text-align: left;
  }

  /* For displaying slide ---------------------------------------------*/
  .displayDivContainer {
    width: 95%;
    margin-top: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 20px;
  }

  .textElementSlide {
    font-size: 7.6vw;
  }

  .vidDiv {
    font-size: 2.5vw;
  }

  /* For displaying note ----------------------------------------------*/
  .noteDivContainer {
    margin-left: 2.5%;
    margin-right: 3%;
    width: 94.5%;
    margin-bottom: 20px;
  }

  .noteDivContainer textarea {
    max-width: 100%;
    padding-bottom: 5%;
    width: 100%;
    height: 5%;
  }
}

/* CSS specifically for desktops -----------------------------------------*/
@media screen and (min-width: 768px) {
  /* For navbar -------------------------------------------------------*/
  .navbar i {
    display: none;
  }

  /* For displaying slide ---------------------------------------------*/
  .displayDivContainer {
    width: 50%;
    margin-top: 20px;
    margin-left: 20%;
    margin-bottom: 20px;
    float: left;
  }

  .textElementSlide {
    font-size: 4vw;
  }

  /* For displaying note ----------------------------------------------*/
  .noteDivContainer {
    padding-top: 20px;
    margin-right: 10%;
    float: right;
    width: 15%;
  }

  .noteDivContainer textarea {
    max-width: 100%;
    padding-bottom: 100%;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
  }

  .controlSlide {
    float: left;
    width: 50%;
    margin-left: 20%;
  }

  .EditToolsSlide {
    float: left;
    width: 50%;
    margin-left: 20%;
  }

  .vidDiv {
    font-size: 1.5vw;
  }
}

/* CSS for both desktop and mobile screens -------------------------------*/
/* General css --------------------------------------------------------*/
.column4 {
  float: left;
  width: 25%;
}

textarea {
  resize: none;
}

/* For navbar ---------------------------------------------------------*/
.navbar {
  overflow: hidden;
  background-color: var(--grey);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #EEE;
}

.navbar .active {
  background-color: var(--main-color);
  color: white;
}

.navbar a:hover {
  background-color: #555;
  color: white;
}

/* For displaying slide -----------------------------------------------*/
.displayDiv {
  padding-top: 56.25%;
  width: 100%;
  background-color: #FEFEFE;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  position: relative;
}

.image {
  width : 30%;
  position: absolute;
}

.vidElement {
  position: relative;
  width: 100%;
  height: 80%;
  border: none;
}

.vidDiv {
  position: absolute;
  width: 40%;
  height: 60%;
  display: inline-block;
  background-color: var(--grey);
}

.vidDiv icon {
  float: right;
  margin: 2%;
  padding: 2%;
  color: var(--second-color);
}

.soundElement {
  position: absolute;
  width: 50%;
}

/* For tools controlling visible slide --------------------------------*/
.controlSlide {
  clear: both;
}

.controlSlideColumn {
  float: left;
  width: 20%;
  text-align: center;
}

.controlSlideColumn i {
  cursor: pointer;
  font-size: 2em;
  color: var(--second-color);
}

.controlSlideColumn p {
  line-height: 1.2;
}

/* For tools editing slide --------------------------------------------*/
.EditToolsSlide {
  padding-top: 20px;
  clear: both;
  text-align: center;
}

.EditToolsSlide input {
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.EditToolsSlide i {
  display: block;
  color: var(--second-color);
}

.creationDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.textElementSlide {
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: var(--third-color);
  user-select: none;
}

/* For displaying scrolling menu for slides -----------------*/
#slideMenu{
    width: 95%;
    margin-top: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 20px;
    border: 1px solid black;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}


.divSlideMenu{
  padding-top: 11.250%;
  width: 20%;
  display: inline-block;
  border: 1px solid red;
  margin: 2px;
  position: relative;
}

.divSlideMenu .textElementSlide {
    font-size: 1.52vw;
  }
#slideMenu::-webkit-scrollbar {
    width: 1em;
}

#slideMenu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#slideMenu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


@media all and (display-mode: fullscreen) {
  .textElementSlide {
    font-size: 8vw;
  }

  .displayDivContainer{
    width: 100% ;
  }

}
